.img-single{
     text-align:center;
     margin:20px 0;
     border:1px solid #ddd;
}
.img-single img{
    width:100%;
    max-width:1000px;
    height:auto;
}
.img-flex{
    width:100%;
     display:flex;
     justify-content:space-around;
     overflow-y: auto;
}
.img-flex img{
    width:auto;
    max-height:500px;
}
.btn-wrapper{
    margin:10px 0;
    display:flex;
    justify-content:center;
}
.btn{
    padding:10px 34px;
    border-radius:26px;
    background:#f66;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    letter-spacing: 2px;
    filter:drop-shadow(0 1px 2px #3338);
    transition: .2s;
}
.btn:hover{
    filter:none;
}